@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation: slide-down 0.3s ease-out;
}


.scale-110 {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 768px) {
    .ada{
        width: 300px !important;
        height: 60px !important;
    }
    
    .ada2{
        width: 300px !important;
        height: 60px !important;
    }

    .ada3{
        width: 450px !important;
        height: 90px !important;
    }

}

@media (max-width: 600px) {
    
    .ada3{
        width: 350px !important;
        height: 90px !important;
    }

}

@media (max-width: 320px) {
    .ada{
        width: 240px !important;
        height: 60px !important;
    }

    .ada2{
        width: 240px !important;
        height: 60px !important;
    }
    
    .ada3{
        width: 270px !important;
        height: 90px !important;
    }

    li{
        font-size: 12px !important;
    }
}